<div class="sideNavBar">
    <a href="/Open">Home</a>
    <a href="/playlists">Playlists</a>
    <a href="/subscriptions">Subscription</a>
    <a href="/reviews">Reviews</a>
</div>

<div class="homeLayout">
    <div>
        <button class="homeBtns" onclick="document.getElementById('top_artists').style.display = 'block'; document.getElementById('top_bands').style.display = 'none'; document.getElementById('top_songCovers').style.display = 'none';">Featured Artists</button>
        <button class="homeBtns" onclick="document.getElementById('top_bands').style.display = 'block'; document.getElementById('top_artists').style.display = 'none'; document.getElementById('top_songCovers').style.display = 'none';">Featured Bands</button>
        <button class="homeBtns" onclick="document.getElementById('top_songCovers').style.display = 'block';document.getElementById('top_artists').style.display = 'none'; document.getElementById('top_bands').style.display = 'none';">Featured Song Covers</button>
    </div>
    <div id="top_artists" class="topArtists">    
        <div>
            <div style="float: left;"><img src="../assets/images/Artists/Ariana_Grande.jpg" width="100px" height="100px"/></div>
            <div style="margin-left: 12%;margin-top: 8%;">Ariana Grande-Butera is an American singer, songwriter, and actress. Her four-octave vocal range has received public acclaim, and her personal life has been the subject of widespread media attention.
            </div>
        </div>
        <div style="clear: both;">
            <div style="float: left;"><img src="../assets/images/Artists/Bad_Bunny.jpg" width="100px" height="100px"/></div>
            <div style="margin-left: 12%;margin-top: 8%;">Benito Antonio Martínez Ocasio, better known by his stage name Bad Bunny, is a Puerto Rican rapper, artist, record maker, entertainer, and expert grappler. His music is much of the time characterized as Latin snare and reggaeton, yet he has integrated different kinds into his music, including rock, bachata, and soul.</div>
        </div>
        <div>
            <div style="float: left;"><img src="../assets/images/Artists/Drake.jpg" width="100px" height="100px"/></div>
            <div style="margin-left: 12%;margin-top: 8%;">Aubrey Drake Graham is a Canadian rapper, vocalist, musician, and entertainer. Earning respect by featuring as Jimmy Brooks in the CTV adolescent show series Degrassi: The Next Generation (2001-08), Drake sought after a profession in music.
            </div>
        </div>
        <div>
            <div style="float: left;"><img src="../assets/images/Artists/Ed_Sheeran.jpg" width="100px" height="100px"/></div>
            <div style="margin-left: 12%;margin-top: 8%;">Edward Christopher Sheeran MBE is an English vocalist lyricist. Brought into the world in Halifax, West Yorkshire and brought up in Framlingham, Suffolk, he started composing melodies around the age of eleven. In mid 2011, Sheeran freely delivered the drawn out play, No. 5 Collaborations Project.
            </div>
        </div>
        <div>
            <div style="float: left;"><img src="../assets/images/Artists/Justin_Bieber.jpg" width="100px" height="100px"/></div>
            <div style="margin-left: 12%;margin-top: 8%;">Justin Drew Bieber is a Canadian singer. He was discovered by American record executive Scooter Braun and signed with RBMG Records in 2008, gaining recognition with the release of his debut seven-track EP My World and soon establishing himself as a teen idol.
            </div>
        </div>
        <div>
            <div style="float: left;"><img src="../assets/images/Artists/Taylor_Swift.jpg" width="100px" height="100px"/></div>
            <div style="margin-left: 12%;margin-top: 8%;">Taylor Alison Swift is an American artist lyricist. Her discography traverses different classifications, and her account songwriting — frequently propelled by her own life — has gotten basic acclaim and broad media inclusion.</div>
        </div>
    </div>
    <div id="top_bands" class="topBands" style="display: none;">
        <div>
            <div style="float: left;"><img src="../assets/images/Bands/BTS.jpg" width="100px" height="100px"/></div>
            <div style="margin-left: 12%;margin-top: 8%;">BTS, otherwise called the Bangtan Boys, is a South Korean teen pop band that was shaped in 2010 and appeared in 2013 under Big Hit Entertainment. The septet — comprising of individuals Jin, Suga, J-Hope, RM, Jimin, V, and Jungkook — co-composes and co-creates quite their very own bit yield.
            </div>
        </div>
        <div>
            <div style="float: left;"><img src="../assets/images/Bands/linkin_park.jpg" width="100px" height="100px"/></div>
            <div style="margin-left: 12%;margin-top: 8%;">Linkin Park is an American musical crew from Agoura Hills, California. The band's ongoing arrangement contains entertainer/beat guitarist/keyboardist Mike Shinoda, lead guitarist Brad Delson, bassist Dave Farrell, DJ/turntablist Joe Hahn and drummer Rob Bourdon, every one of whom are establishing individuals.
            </div>
        </div>
        <div>
            <div style="float: left;"><img src="../assets/images/Bands/rolling_stones.jpg" width="100px" height="100px"/></div>
            <div style="margin-left: 12%;margin-top: 8%;">The Rolling Stones are an English musical crew shaped in London in 1962. Dynamic for a very long time, they are one of the most famous and persevering through groups of the stone period. In the mid 1960s, the Rolling Stones spearheaded the coarse, heavier-driven sound that came to characterize hard rock.
            </div>
        </div>
        <div>
            <div style="float: left;"><img src="../assets/images/Bands/beatles.jpg" width="100px" height="100px"/></div>
            <div style="margin-left: 12%;margin-top: 8%;">The Beatles were an English musical crew, shaped in Liverpool in 1960, that included John Lennon, Paul McCartney, George Harrison and Ringo Starr. They are viewed as the most compelling band ever and were necessary to the improvement of 1960s nonconformity and well known music's acknowledgment as a fine art.</div>
        </div>
        <div>
            <div style="float: left;"><img src="../assets/images/Bands/gunsnroses.jpg" width="100px" height="100px"/></div>
            <div style="margin-left: 12%;margin-top: 8%;">Guns N' Roses is an American hard rock band from Los Angeles, California, formed in 1985. When they signed to Geffen Records in 1986, the band comprised vocalist Axl Rose, lead guitarist Slash, rhythm guitarist Izzy Stradlin, bassist Duff McKagan, and drummer Steven Adler. </div>
        </div>
        <div>
            <div style="float: left;"><img src="../assets/images/Bands/pink_floyd.jpg" width="100px" height="100px"/></div>
            <div style="margin-left: 12%;margin-top: 8%;">Pink Floyd were an English musical crew framed in London in 1965. Acquiring an early following as perhaps the earliest British hallucinogenic gathering, they were recognized for their lengthy organizations, sonic trial and error, philosophical verses and elaborate live shows.</div>
        </div>
        <div>
            <div style="float: left;"><img src="../assets/images/Bands/coldplay.jpg" width="100px" height="100px"/></div>
            <div style="margin-left: 12%;margin-top: 8%;">Coldplay are a British musical crew shaped in London in 1996. They comprise of entertainer and musician Chris Martin, guitarist Jonny Buckland, bassist Guy Berryman, drummer Will Champion and innovative chief Phil Harvey.</div>
        </div> 
        <!-- <div style="float: left;"><img src="../assets/images/Artists/Taylor_Swift.jpg" width="100px" height="100px"/></div> -->
    </div>
    <div id="top_songCovers" class="topSongs" style="display: none;">
        <div>
            <div style="float: left;"><img src="../assets/images/Covers/whitney_houston.jpg" width="100px" height="100px"/></div>
            <div style="margin-left: 12%;margin-top: 8%;">Whitney Houston's front of "I Will Always Love You" isn't only perhaps the best front ever - it's a cleansing sort of grievousness, the sort of tune that makes you need to open up your windows and hazard making you extremely upset once more for the possibility tracking down an enduring adoration. It's a show-halting execution, and an extreme takeoff from Dolly Parton's unique, which is influencing in its sad closeness. In the event that Houston was singing it for the entire world, Parton is by all accounts singing it only for you, but the two renditions are similarly great.
            </div>
        </div>
        <div>
            <div style="float: left;"><img src="../assets/images/Covers/sinead.jpg" width="100px" height="100px"/></div>
            <div style="margin-left: 12%;margin-top: 8%;">"Nothing Compares 2 U" was one of a few melodies that Prince, for some explanation, decided not to save for himself. (His studio recording wasn't delivered until 2018, however he remembered a live form for a 1993 biggest hits accumulation.) It was recorded by the Family, one of the groups Prince gathered on his Paisley Park record name, yet the gathering collapsed not long after the arrival of their solitary collection, and "Nothing Compares 2 U" was immediately forgotten by everything except the most unwavering Prince fans. You're more likely than curious about Sinead O'Connor's cover, a surprising raving success that, all too momentarily, transformed her into the most attractive artist on the planet.</div>
        </div>
        <div>
            <div style="float: left;"><img src="../assets/images/Covers/arethra.jpg" width="100px" height="100px"/></div>
            <div style="margin-left: 12%;margin-top: 8%;">Aretha Franklin's variant of "Regard" is conclusive to the point that it could make you think Otis Redding composed the melody explicitly for her. (It was Franklin's choice to add the climactic "R-E-S-P-E-C-T/Find out how it affects me" lines, and it's difficult to envision the tune without them.) Redding's unique form was sung by a man to his better half, arguing for regard in return for his persistent effort. In having an impact on the tune's viewpoint, Franklin changed the melody into a women's activist song of devotion.</div>
        </div>
        <div>
            <div style="float: left;"><img src="../assets/images/Covers/soft_cell.jpg" width="100px" height="100px"/></div>
            <div style="margin-left: 12%;margin-top: 8%;">"Polluted Love" was initially a minor UK hit for T.Rex part and Marc Bolan's sweetheart Gloria Jones, however in Soft Cell's cover, the insignificant synth support and Marc Almond's over the top vocal makes it interesting.</div>
        </div>
        <div>
            <div style="float: left;"><img src="../assets/images/Covers/johnny.jpg" width="100px" height="100px"/></div>    
            <div style="margin-left: 12%;margin-top: 8%;">It appears to be an improbable fit on paper, yet when you hear the initial not many notes of Johnny Cash's cover variant of "Hurt," everything checks out. The completely somber Nine Inch Nails tune was composed when Trent Reznor hadn't turned 30 years of age. Money's take, sung close to the furthest limit of his life, took on new significance, loaded up with individual history and a quiet insubordination. It's one of the best cover melodies kept in the 21st hundred years.</div>
        </div>
        <div>
            <div style="float: left;"><img src="../assets/images/Covers/Ike_turner.jpg" width="100px" height="100px"/></div>
            <div style="margin-left: 12%;margin-top: 8%;">"We never under any circumstance do nothing overall quite simple. We generally do it overall quite unpleasant," Tina Turner murmurs toward the start of her most memorable front of Creedence Clearwater Revival's "Pleased Mary," which she recorded with her then-spouse Ike. You're substantially more prone to relate "Pleased Mary" with Tina Turner than John Fogerty - it's become one of her particular tunes, and was a staple of her live exhibitions until her retirement.
            </div>
        </div> 
    </div>
</div>

