<script>
    function showTopArtists(){
        alert('hello world');
        document.getElementsById('topArtists').show;
        return false;
    }
</script>

<div class="sideNavBar">
    <a href="/Open">Home</a>
    <a href="/playlists">Playlists</a>
    <a href="/subscriptions">Subscription</a>
    <a href="/reviews">Reviews</a>
</div>

<div class="content">
    <div style="padding: 5%; background-color: blueviolet;">
        <button onclick="document.getElementById('top_artists').style.display = 'block'; document.getElementById('top_bands').style.display = 'none'; document.getElementById('top_songCovers').style.display = 'none';">Top 10 Artists</button>
        <button onclick="document.getElementById('top_bands').style.display = 'block'; document.getElementById('top_artists').style.display = 'none'; document.getElementById('top_songCovers').style.display = 'none';">Top 10 Bands</button>
        <button onclick="document.getElementById('top_songCovers').style.display = 'block';document.getElementById('top_artists').style.display = 'none'; document.getElementById('top_bands').style.display = 'none';">Top 10 Song Covers</button>

    </div>
    <div id="top_artists" class="topArtists" style="display: none;">
        
        <div>
        <img src="../assets/images/Artists/Ariana_Grande.jpg" width="100px" height="100px"/>
        <!-- <span>Hiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii</span> -->
        </div>
        <img src="../assets/images/Artists/Bad_Bunny.jpg" width="100px" height="100px" />
        <img src="../assets/images/Artists/Drake.jpg" width="100px" height="100px"/>
        <img src="../assets/images/Artists/Ed_Sheeran.jpg" width="100px" height="100px" />
        <img src="../assets/images/Artists/Justin_Bieber.jpg" width="100px" height="100px"/>
        <img src="../assets/images/Artists/Taylor_Swift.jpg" width="100px" height="100px"/>
    </div>
    <div id="top_bands" class="topBands" style="display: none;">
        <td>
        <img src="../assets/images/Artists/Ariana_Grande.jpg" width="100px" height="100px"/>
        </td>
        <img src="../assets/images/Artists/Bad_Bunny.jpg" width="100px" height="100px" />
        <img src="../assets/images/Artists/Drake.jpg" width="100px" height="100px"/>
        <img src="../assets/images/Artists/Ed_Sheeran.jpg" width="100px" height="100px" />
        <!-- <img src="../assets/images/Artists/Justin_Bieber.jpg" width="100px" height="100px"/> -->
        <!-- <img src="../assets/images/Artists/Taylor_Swift.jpg" width="100px" height="100px"/> -->
    </div>
    <div id="top_songCovers" class="topSongs" style="display: none;">
        <td>
        <img src="../assets/images/Artists/Ariana_Grande.jpg" width="100px" height="100px"/>
        </td>
        <img src="../assets/images/Artists/Bad_Bunny.jpg" width="100px" height="100px" />
        <img src="../assets/images/Artists/Drake.jpg" width="100px" height="100px"/>
        <img src="../assets/images/Artists/Ed_Sheeran.jpg" width="100px" height="100px" />
        <img src="../assets/images/Artists/Justin_Bieber.jpg" width="100px" height="100px"/>
        <!-- <img src="../assets/images/Artists/Taylor_Swift.jpg" width="100px" height="100px"/> -->
    </div>
</div>

